.app {
  padding: 30px;
  display: flex;
}

.app > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;
}
 
.error-message {
  color: red;
}
.active-filter {
  background-color: lightgreen;
}
.is-done {
  opacity: 0.5;
  color: red;
  text-decoration: line-through;
font-weight: bolder;

}
.red{
color: blueviolet;
font-weight: bold;

}
.todo{
  display: flex;
  flex-direction: row;
}
